# SMTP Configuration (Gmail or custom SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
RECIPIENT_EMAIL=

# reCAPTCHA v3 Configuration
NUXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

