#navbar-modal-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: rgba(0,0,0,.9);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    -moz-transition: all .4s ease;
}
#navbar-modal-backdrop.open {
    opacity: 1;
    visibility: visible;
}
#navbar-modal-backdrop.close {
    opacity: 0;
    visibility: hidden;
}

#navbar-container {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background: white;
    height: 100%;
    width: 0px;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    z-index: 20;
}
#navbar-container::before {
    position: absolute;
    content: "";
    display: block;
    background-image: url('~/images/colorful-abstract.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .04;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#navbar-container.open {
    width: 300px;
    opacity: 1;
}
#navbar-container.close {
    width: 0px;
    opacity: 0;
}

#navbar-container ul.menu-options {
    min-width: 300px;
}
#navbar-container.open ul li {
    visibility: visible;
}

#navbar-container.close ul li {
    visibility: hidden;
}

#navbar-container ul.menu-options li {
    margin-top: 1px;
    margin-bottom: 1px;
}
#navbar-container ul.menu-options li::after {
    display: block;
    margin: 0 auto;
    content: "";
    height: 1px;
    background: rgba(0,0,0,.5);
    width: 0px;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    -moz-transition: width .3s ease;
}
#navbar-container ul li:hover::after {
    width: 50%;
}